.first-color { 
	background: #5585b5; 
}
	
.second-color { 
	background: #53a8b6; 
}

.third-color { 
	background: #79c2d0; 
}

.fourth-color { 
	background: #bbe4e9; 
}
main {
	margin: 50px;
}

header {
	width: 100%;
	height: 200px;
	/* background: #5585b5; */
	background-image: url("./assets/Header.png");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	padding: 10px 53px 10px 55px;
	align-items: center;
	justify-content: space-between;
}

header a {
	margin: 0 20px;
	color: white;
	text-decoration: none;
	font-size: 26px;
}
.myPhoto {
	border-radius: 50%;
	margin-bottom: 10px;
	margin-top: 40px;

}

#About {
	width: 120%;
}

.projects img {
	width: 100%;	
}

.project-col {
	width: 350px;
	margin: 28px;
}
.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* border: 1px solid #5585b5; */
	padding: 10px;
	background-color: rgba(211, 211, 211, 0.8);
}
.project .links {
	display: flex;
	justify-content: center;
}
.project a {
	color: #5585b5;
	text-decoration: none;
	background-color: #bbe4e9;
	padding: 5px 10px;
	margin: 0 10px;
}
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	font-size: 40px;	
}
.skills i {
	margin: 0 20px 0 0;
}
footer {
	/* position: absolute; */
	/* bottom: 0; */

	display: flex;
	width: 100%;
	justify-content: center;
	padding: 30px; 
	font-size: 40px;
}
footer i {
	margin: 0 20px;
}

.highlight {
	color: rgb(12, 28, 117);
	font-size: 34px;
}

input, .form-control{
	border: solid 1px black;
}

textarea{
	border: solid 1px black;
}

#About {
	display: flex;
	align-items: flex-start;
	gap: 0px;
	.myPhoto{
		margin-left: -3px;
	}
	div{
		
		height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p{
		padding-left: 40px;
		max-width: 1000px;
		margin-top: 100px;
		font-size: 20px;
	}
}

footer{
	display: flex;
	gap: 40px;
	svg{
		color:rgb(12, 28, 117)
	}
}